/* Styles for Journal 2019 */
/*@font-face {
  src: url(fonts/SourceCodePro-Bold.otf);
  font-weight: bold;
  font-family: "Source Code Pro";
  }
@font-face {
  src: url(fonts/SourceCodePro-It.otf);
  font-family: "Source Code Pro";
  font-style: italic;
  }
@font-face {
  src: url(fonts/SourceCodePro-BoldIt.otf);
  font-weight: bold;
  font-family: "Source Code Pro";
  font-style: italic;
  }
@font-face {
  src: url(fonts/SourceCodePro-Regular.otf);
  font-family: "Source Code Pro";
  }*/
body {
  font-family: Source Code Pro, Georgia, serif;
  font-style: normal;
}
h1 {
  font-size: 200%;
  font-style: italic;
  text-align: center;
}
h2 {
  font-size: 100%;
  font-weight: bold;
}
pre, code {
  white-space: pre-wrap;
  /*font-family: Courier, Courier New, monospace;*/
  background-color: #D8D8D8;
  /* font-size: 80%; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-family: Source Code Pro, Georgia, serif;
}
th, td {
  text-align: right;
  font-family: Courier, Courier New, monospace;
}
blockquote {
  /* width: 90%; */
  /* font-size: 80%; */
  display: block;
  white-space: pre-wrap;
  border-left: 2px solid #666;
  padding-left: 1%;
}
.done {
  text-decoration: line-through;
}
.figure {
  padding-top: 1%;
  text-align: center;
  width: 90%;
  /*float:left;*/
  background-color: #FFF;
  /*border: 1px solid #000000;*/
  /*margin-right: 4%; */
}
.figure img {
  width: 80%;
}
.figure p {
  /* font-size: 80%; */
  text-align: left;
  font-style: italic;
  width: 80%;
  padding-left: 10%;
  /*padding-right: 5%;*/
}
.figure p i {
  font-style: normal;
}
.nb {
  width: 100%;
  text-align: center;
}
.nb img {
  width: 90%;
}
.references div {
  padding-left: 10%;
  text-indent: -10%;
  /* font-size: 80%; */
}
.todo {
  background-color: #FFFCB7;
  /*padding-right: 10%;*/
  border: 1px solid #D8D8D8;
  margin-left: 5%;
  margin-right: 5%;
}
a {
  /* Below from https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
}
